.login_page{
    background-image: url("../../pic/login-background.jpg");
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.dropzone {
    border-radius: 15px;
    border-style: dashed;
    border-color: #00a7d0;
}

.dropzone-preview{
    display: none;
}

.ulogin{
    display: none;
}

.list-questions .form-control label{
    margin-left: 25px !important;
}

.wSubmit{
    float: right;
    width: 150px;
}